
.careers{
    display: flex;
    flex-direction: column;
}    
#careers-main{
    /* height: 50vh; */
    padding: 4.2rem 6.2rem;
}

#careers-title{
    text-align: center;
    font-size: 5.4rem;
    /* border: 2px solid red; */
    padding: 13rem 0;
    
}

.job-area{
    margin-top: 3rem;
    /* border: 2px dotted purple; */
    display: flex;
    flex-flow: column wrap;
}

.sub-title{
    font-size: 3rem;
    /* border: 2px solid red; */
    text-align: center;
}

.jobs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem .5rem;
    margin-top: 2.5rem;
    /* border: 2px solid rgb(0, 128, 32); */

}