#titles{
    /* border: 2px solid red; */
    height: 50vh;
    padding: 8.2rem;
}
#titles h1{
    text-align: center;
}

#static-title{
    font-size: 5.4rem;
}

#dynamic-title{
    font-size: 6.4rem;
}

/* #dynamic-title:hover{
    
} */

#about-us, .join-main{
    /* border: 2px solid red; */
    height: 50vh;
    padding: 8.2rem;
}
#about-title, #join-title{
    text-align: center;
    font-size: 5.4rem;
    margin-bottom: 1.5rem;
}

#about-body{
    text-align: center;
}


.join-main{
    /* border: 2px solid red; */
}
.join-main div{
    /* border: 2px solid dodgerblue; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.join-btn{
    width: 16.5rem;
    height: auto;
    font-size: 2.8rem;
    text-align: center;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: .5rem;
    box-shadow: 3px 3px 3px dodgerblue;
    transition: all .35s ease-in-out;
}

.join-btn:hover{
    border: 2px solid rgb(218, 57, 218);
    color: rgb(218, 57, 218);
    box-shadow: -3px 3px 3px rgb(218, 57, 218);
}