.profile-main{
    border: 2px solid orange;
    margin-top: 1rem;
}

.pdata-main{
    border: 2px solid rgb(0, 255, 42);
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.test{
    width: 40rem;
    aspect-ratio: 1/1;
}