#register-main{
    border: 2px solid green;
    height: 35rem;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-area{
    border: 2px solid red;
    /* margin: auto; */
    width:50%;
    /*position: absolute;*/
    padding: 5rem;

}

#register-area>form{
    border: 2px solid slateblue;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
}

#register-area>form>*{
    height: 2.5rem;
}

#register-footer{
    border: 2px solid gold;
    /*position: relative;*/
    top: 33.3rem;
}