#register-main{
    border: 2px solid green;
    height: 35rem;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-area{
    border: 2px solid red;
    /* margin: auto; */
    width:50%;
    /*position: absolute;*/
    padding: 2.2rem;

}

#register-area>form{
    /* border: 2px solid slateblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    row-gap: .75rem;
    margin-top: .5rem;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

/* @media (max-width: 768px) { 

    #register-area>form {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(9, 1fr);
    }

} */

#register-area>form>*{
    height: 2.5rem;
}

#register-footer{
    /* border: 2px solid gold; */
    
}

.register-btn{
    border: 2px solid salmon;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    transition: all .5s ease-in-out;
}

.register-btn:hover{
    border-radius: 5rem;   
    background-color: rgb(26, 228, 255); 
    /* font-size: 1rem; */
}