#side-main{
    background-color: orange;
    display: flex;
    /* flex-direction: column; */
    /* width: 3%; */
    border: 2px solid red;
    padding: .5rem;
    /* position: fixed; */
    /* height: 90vh; */
    justify-content: space-around;
    margin-top: .3rem;
}

button{
    /* border: 2px solid firebrick; */
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 0;
}

img{
    aspect-ratio: 1/1;
    width: 1.5rem;
}

img:hover{
    
}